<div class="main-warp">
  <p class="title">Sing in</p>
  <hr>
  <br>
<!--  <input type="email" class="input-text" [(ngModel)]="email">-->
<!--  <br>-->
<!--  <br>-->
<!--  <input type="password" class="input-text" [(ngModel)]="password">-->
<!--  <br>-->
<!--  <br>-->
<!--  <input type="submit" value="Login" class="btn" (click)="login()">-->
<!--  <br>-->
<!--  <br>-->
<!--  <input type="submit" value="Create a new account" class="new">-->

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <input formControlName="email" class="input-text">
    <p class="alert" *ngIf="loginForm.get('email')?.touched
    && loginForm.get('email')?.invalid">
      Email is required.
    </p>
    <br>
    <br>
    <input formControlName="password" class="input-text">
    <p class="alert" *ngIf="loginForm.get('password')?.touched
    && loginForm.get('password')?.invalid">
      Password is required.
    </p>
    <br>
    <br>
    <input [disabled]="loginForm.invalid" type="submit" value="Login" class="btn {{loginForm.invalid?'invalid':''}}">
  </form>
</div>
